body{
    margin: 0;
}

#delete{
    transition: all 0.3s ease;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #f00;
    -webkit-appearance: none;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
}


#delete:hover{
    opacity: 0.8;
}

/*gallery*/
#gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#gallery img{
    width: 100%;
    height: auto;
    max-width: 150px;
    cursor: pointer;
}
#gallery img:hover,
#gallery img:active{
    opacity: 0.7;
}

#wideview{
    cursor: pointer;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wideview.active{
    visibility: visible;
    opacity: 1;
}
#wideview img{
    background-color: #fff;
    max-width: 90%;
    max-height: 90%;
    background-image: none;
}

/*menu*/

#my{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#my li ul{
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
}
#my li{
    transition: all 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#my li a{
    z-index: 1;
    position: relative;
    transition: all 0.3s ease;
    font-size: 14px;
    padding: 5px 15px;
    display: block;
    text-decoration: none;
}
#my > li {
    list-style: none;
    position: relative;
    font-size: 18px;
}
#my > li {
    list-style: none;
    position: relative;
}



#my > li > a {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    background-color: #666;
}

#my > li > a:hover,
#my > li > a:active,
#my > li > a:focus{
    background-color: #999;
}

#my > li > a + ul{
    min-width: 100%;
    background-color: #148627;
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
}

#my li ul a{
    background: transparent;
    color: #fff;
}
#my li ul a:focus,
#my li ul a:active,
#my li ul a:hover{
    background: #f1f1f1;
    color: #148627;
}
#my li ul ul{
    top: 0;
    display: block;
    position: absolute;
    background-color: #999;
    left: 100%;
}
#my li ul ul a{
    background: transparent;
    color: #fff;
}

#my li > ul,
#my li > ul{
    z-index: 0;
    transform: translate(-100%, 0);
}
#my > li > ul,
#my > li > ul{
    transform: translate(0, -100%);
}

#my li:hover > ul,
#my li:focus > ul{
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}